<div class="pageContent">
    <form method="post" action="__SELF__" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <input type="hidden" name="user_id" value="{$user.id}" />
        <div class="pageFormContent" layouth="56">
            <p>
                <label>用户名：</label>
                <input name="username" class="required" type="text" autocomplete="off" value="{$user.username}" disabled />
            </p>
            <p>
                <label>姓名：</label>
                <input name="name" class="required" type="text" value="{$user.name}" autocomplete="off" />
            </p>
            <p>
                <label>手机：</label>
                <input name="phone" class="required" type="text" value="{$user.phone}" autocomplete="off" />
            </p>
            <p>
                <label>类型：</label>
                <select name="type" class="required combox">
                    <option value="01" <eq name="user.type" value="01">selected</eq>>管理员</option>
                    <option value="02" <eq name="user.type" value="02">selected</eq>>设计师</option>
                    <option value="03" <eq name="user.type" value="03">selected</eq>>测试用户</option>
                </select>
            </p>
            <p>
                <label>备注：</label>
                <input name="comment" type="text" value="{$user.comment}" autocomplete="off" />
            </p>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
